openapi: 3.0.3
info:
  title: The Law Kaksha API
  version: 1.0.0
  description: REST API for The Law Kaksha - Premier CA Foundation & CSEET Business Law Learning Platform.
servers:
  - url: https://thelawkaksha.com/api
    description: Production Server (Vercel Edge Proxy / Render)
  - url: http://localhost:5000/api
    description: Local Development Server
paths:
  /health:
    get:
      summary: Service Health Check
      responses:
        '200':
          description: Service is operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  database:
                    type: string
                    example: connected
  /auth/register:
    post:
      summary: Register Student Account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                phone:
                  type: string
                deviceId:
                  type: string
      responses:
        '201':
          description: Registration successful
        '400':
          description: Missing mandatory fields
        '409':
          description: Email already in use
  /auth/login:
    post:
      summary: Student / Admin Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
                deviceId:
                  type: string
      responses:
        '200':
          description: Authentication successful
        '401':
          description: Invalid password
        '409':
          description: Device mismatch conflict
  /payment/create-order:
    post:
      summary: Generate Razorpay Transaction Order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - itemId
              properties:
                itemId:
                  type: string
      responses:
        '200':
          description: Order created
  /payment/verify:
    post:
      summary: Cryptographically Verify Razorpay Signature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - razorpay_order_id
                - razorpay_payment_id
                - razorpay_signature
              properties:
                razorpay_order_id:
                  type: string
                razorpay_payment_id:
                  type: string
                razorpay_signature:
                  type: string
      responses:
        '200':
          description: Payment verified and content unlocked
        '400':
          description: Invalid or tampered signature
